#bonkStatus {
  font-family: Courier New, serif;
  text-align: center;
}

#linkTryAgain {
  display: block;
}

#bonkStatus:not([bonk]) .doBonk,
#bonkStatus[bonk] .noBonk,
#bonkStatus[bonk] #timerMessage {
  display: none;
}
